@model ITHelpDesk.Models.TechnicianGroup

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Technician Group Details</h1>
<hr />

<div>
    <h4>Group Name: @Model.GroupName</h4>

    <h5>Assigned Technicians:</h5>
    @if (Model.Technicians != null && Model.Technicians.Any())
    {
        <ul>
            @foreach (var tech in Model.Technicians)
            {
                <li>@tech.FullName</li>
            }
        </ul>
    }
    else
    {
        <p><em>No technicians assigned.</em></p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
